.container {
    text-align: center;
    overflow: hidden;
    padding-top: 1rem;
}

.image {
    border-radius: 0.25rem;
    max-width: 80%;
    margin: 0 auto;
    animation: upDown 2s ease infinite;
}


@keyframes upDown {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);

    }
    100% {
        transform: scale(1);
    }
}

.nameContainer {
    position: relative;
    margin-top: 1rem;
}

.name {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: 'CalSans';
    font-weight: 600;
}

.nameBackdrop {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    opacity: 0.04;
    font-family: 'CalSans';
    font-weight: 600;
    color: var(--mantine-color-primary-3);
    z-index: -1;
    text-overflow: none;
    overflow: hidden;
}

.series {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
}

.code {
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--mantine-color-secondary-2);
}
.typeContainer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.type {
    font-size: 0.75rem;
}

.cta {
    margin-top: 1rem;
    width: 100%;
}